<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.marondalgram.like.dao.LikeDAO">
 	<select id="selectLikeCountByPostId" parameterType="int" resultType="int">
 		SELECT
	 		count(*)
	 	FROM
	 		`like`
	 	WHERE
	 		`postId` = #{postId}
 	</select>
 	
 	<insert id="insertLikeByUserIdAndPostId" parameterType="map">
 		INSERT INTO `like`
 		(
 			`userId`
 			, `postId`
 			, `createdAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{postId}
 			, NOW()
 		)
 	</insert>
 </mapper>